.imperator-card {
  box-shadow: 1px 3px 5px #888888;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 90%;
}

.search-imperator {
  grid-area: search;
  align-self: baseline;
  margin-bottom: 13px;
}

.btnI {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #024058;
  border-radius: 2px;
  border: 1px solid #003145;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  min-height: 38px;
  padding: 0 24px;
  text-align: center;
  -webkit-transition: color 0.2s, border 0.2s;
  transition: color 0.2s, border 0.2s;
  white-space: nowrap;
  margin-left: 10px;
}

.pagination {
  padding: 0.5rem;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color: #003145;
}

.pagInput {
  padding: 3px;
}

.pagSelect {
  background-color: #003145;
  color: white;
  padding: 3px;
}

.table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: #8a97a5dc;
}

th {
  background: rgb(33, 44, 46);
  color: white;
  font-weight: bold;
  padding: 10px;
}

td,
th {
  border: 1px solid #ccc;
  white-space: nowrap;
}

td {
  padding: 3px;
  text-align: center;
}

th.sortArrow {
  display: block;
}

table > thead > tr:nth-child(1) > th {
  font-size: 2.1em;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .coBtn {
    background-color: #024058;
    border-radius: 2px;
    border: 1px solid #024058;
    box-shadow: none;
    color: #fff;
    font-size: 8px;
    font-weight: 300;
    line-height: 1;
    min-height: 18px;
    text-align: center;
    -webkit-transition: color 0.2s, border 0.2s;
    transition: color 0.2s, border 0.2s;
    letter-spacing: 0.19px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  /*
Label the data
*/
  td:nth-of-type(1):before {
    content: 'Company Name';
  }

  td:nth-of-type(2):before {
    content: 'Billing Plan';
  }
  td:nth-of-type(3):before {
    content: 'Billing Status';
  }
  td:nth-of-type(4):before {
    content: 'Active Until';
  }
  td:nth-of-type(5):before {
    content: 'Configurations';
  }
  td:nth-of-type(6):before {
    content: 'Total Projects';
  }
  td:nth-of-type(7):before {
    content: 'Total Notes';
  }
  td:nth-of-type(8):before {
    content: 'Total Recommendations';
  }
  td:nth-of-type(9):before {
    content: 'Total Insights';
  }
  td:nth-of-type(10):before {
    content: 'Total Hashtags';
  }
  td:nth-of-type(11):before {
    content: 'Total Collections';
  }
  td:nth-of-type(12):before {
    content: 'Total Documents';
  }
  td:nth-of-type(13):before {
    content: 'Total Users';
  }
}

.coBtn {
  background-color: #024058;
  border-radius: 2px;
  border: 1px solid #024058;
  box-shadow: none;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  min-height: 25px;
  text-align: center;
  -webkit-transition: color 0.2s, border 0.2s;
  transition: color 0.2s, border 0.2s;
  letter-spacing: 0.19px;
  white-space: nowrap;
  padding-left: 2px;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(60px, auto) 1fr;
  gap: 0.75rem;
  margin-right: 30px;
  grid-template-areas:
    'header'
    'search'
    'tableGrid';
}

.tableGrid {
  grid-area: tableGrid;
  width: 100%;
}

.headerArea {
  grid-area: header;
  color: rgb(33, 44, 46);
  font-variant-caps: all-petite-caps;
}

.companyId {
  width: 1px;
  height: 1px;
  font-size: 0.1px;
}
