html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  margin-left: 250px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: rgb(11, 53, 77);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(11, 53, 77);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
} */

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #024058;
  border-radius: 2px;
  border: 1px solid #003145;
  box-shadow: none;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  min-height: 50px;
  padding: 0 24px;
  text-align: center;
  -webkit-transition: color 0.2s,border 0.2s;
  transition: color 0.2s,border 0.2s;
  -webkit-letter-spacing: 0.19px;
  -moz-letter-spacing: 0.19px;
  -ms-letter-spacing: 0.19px;
  letter-spacing: 0.19px;
  -webkit-transition: 0.2s filter linear;
  transition: 0.2s filter linear;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgb(46, 162, 178);
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: rgb(46, 162, 178);
  color: white;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  display: block;
}

.search-input { 
  -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: -internal-light-dark(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: textfield;
      background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
      -webkit-rtl-ordering: logical;
      cursor: text;
      margin: 0em;
      font: 400 13.3333px Arial;
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #024058;
      height: 40px;
      border-radius: 2px;
      border: solid 2px #acbcc4;
      background-color: rgba(221,233,233,0.5);
      font-size: 16px;
      font-weight: 500;
      padding: 0 16px;
      -webkit-letter-spacing: 0.19px;
      -moz-letter-spacing: 0.19px;
      -ms-letter-spacing: 0.19px;
      letter-spacing: 0.19px;
      -webkit-transition: border 0.3s;
      transition: border 0.3s;
      padding-left: 30px;
      width: 300px;
}