/* --------------------- Login Page ------------------------------ */
.loginContainer {
  width: 100%;
  height: 100%;
  padding-top: 12rem;
}

/* --------------------- Login Form ------------------------------- */

.login {
  width: 100%;
  height: auto;
  color: rgb(11, 53, 77);
}

.nav-logo2 {
  height: 70px;
  width: 70px;
  margin: 32px 9px 16px 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.loginForm {
  width: 95%;
}

.linkBtn {
  border: none;
  text-decoration: underline;
}
