/* ---------------- Analytical,js ---------------- */



/* ---------------- companyInfo,js ---------------- */

.coArea {
  grid-area: company;
}

.companyInfoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  box-shadow: 1px 3px 5px #888888;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #FFF; 
  box-shadow: 1px 3px 5px #888888; 
}

.coTitle {
  background-color: #212C2E;
  padding: 1rem;
  margin: 0px;
  color: white;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.planInfo {
  margin: 20px;
  width: 100%;
  /* display: flex; */
}

.billingInfo {
  width: 40%;
  float: left;
}

.configInfo {
  float: right;
}

.userArea {
  grid-area: users;
}

.userInfoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  box-shadow: 1px 3px 5px #888888;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #FFF; 
  box-shadow: 1px 3px 5px #888888; 
}

.userTitle {
  background-color: #212C2E;
  padding: 1rem;
  margin: 0px;
  color: white;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.barGraph2 {
  grid-area: graph;
}

.flexbox4 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 0.75rem;
  margin-right: 30px;
  grid-template-areas:
    "header header header"
    "company users users"
    "graph graph graph";
}

.headerArea {
  grid-area: header;
  color: rgb(33, 44, 46);
  font-variant-caps: all-petite-caps;
}