.flexbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 0.75rem;
  grid-template-areas:
    "header header"
    "main-left main-right"
    "footer footer";
}

.headerArea {
  grid-area: header;
}

.barGraph {
  grid-area: main-left;
  margin-bottom: 30px;
}

.planGraph {
  grid-area: main-right;
}

.monthlyGraph {
  grid-area: footer;
  margin-bottom: 30px;
}

@supports (display: grid) {
  @media screen and (max-width: 1050px) {
    .gridbox {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main-left"
        "main-right"
        "footer";
    }
  }
}
