.flexbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(50px, auto) repeat(2, .5fr);
  gap: 0.75rem;
  margin-right: 30px;
  font-variant-caps: all-petite-caps;
  grid-template-areas:
    "header header"
    "main-left main-right"
    "footer footer";
}

.headerArea {
  grid-area: header;
  padding-bottom: 0;
  color: rgb(33, 44, 46);
}

.barGraph {
  grid-area: main-left;
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
  background-color: #fff;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
}

.planGraph {
  grid-area: main-right;
  background-color: #fff;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
}

.monthlyGraph {
  grid-area: footer;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
}

.title {
  background-color: #212c2e;
  padding: 1rem;
  margin: 0px;
  color: white;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  font-variant-caps: all-petite-caps;
}

@supports (display: grid) {
  @media screen and (max-width: 1050px) {
    .gridbox {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main-left"
        "main-right"
        "footer";
    }
  }
}

.yearSelectUsersByMonth {
  margin-left: 15px;
}
