.flexbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 0.75rem;
  margin-right: 30px;
  grid-template-areas:
    "header header"
    "main-left main-right"
    "footer footer";
}

.headerArea {
  grid-area: header;
  color: rgb(33, 44, 46);
}

.barGraph {
  grid-area: main-left;
  background-color: #FFF; 
  box-shadow: 1px 3px 5px #888888; 
}

.planGraph {
  grid-area: main-right;
  background-color: #FFF; 
  box-shadow: 1px 3px 5px #888888; 
}

.monthlyGraph {
  grid-area: footer;
  margin-bottom: 30px;
  background-color: #FFF; 
  box-shadow: 1px 3px 5px #888888; 
}

@supports (display: grid) {
  @media screen and (max-width: 1050px) {
    .gridbox {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main-left"
        "main-right"
        "footer";
    }
  }
}

.yearSelectUsersByMonth { 
  
}