/* 
************GRID*********** 
*/

.flexbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 75px;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(50px, auto) repeat(2, 1fr);
  gap: 0.75rem;
  margin-right: 30px;
  grid-template-areas:
    'header header'
    'top-main top-main'
    'main-left main-right'
    'footer footer';
}

.headerArea {
  grid-area: header;
  color: rgb(33, 44, 46);
  font-variant-caps: all-petite-caps;
}

.strategicGraph {
  grid-area: top-main;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
  font-variant-caps: all-petite-caps;
  justify-content: center;
}

.paidContainer {
  grid-area: main-right;
  background-color: white;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
  font-variant-caps: all-petite-caps;
  width: 100%;
  height: 50vh;
  overflow: scroll;
}

.trialContainer {
  grid-area: main-left;
  background-color: white;
  box-shadow: 1px 3px 5px #888888;
  text-align: center;
  font-variant-caps: all-petite-caps;
  overflow: scroll;
  height: 50vh;
}

/* 
************LIST AREA*********** 
*/

.col1 {
  text-align: left;
  padding-left: 25%;
}

.col2 {
  float: right;
  padding-right: 33%;
}

.emailBtn{
  margin-left: 5rem;
}

.planRender {
  padding-left: 30px;
}

.titles {
  background-color: #212c2e;
  padding: 1rem;
  margin: 0px;
  color: white;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-variant-caps: all-petite-caps;
}

@supports (display: grid) {
  @media screen and (max-width: 1050px) {
    .gridbox {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'top-main'
        'main-left'
        'main-right'
        'footer';
    }
  }
}
