/* .nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;

  
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}  */

.nav {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #003b55;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 0.75em;
    background-color: #eee;
    box-shadow: inset -12px 1px 4px -10px rgba(29,86,110,0.27);
    overflow: hidden;
    -webkit-transition: width 0.1s;
    transition: width 0.1s;
    width: 190px;
    z-index: 1;
    position: fixed;
}

.nav-link {
  color: #003b55;
  -webkit-text-decoration: none;
  text-decoration: none;
  height: 33px;
  display: inline-block;
  padding: 2px 0;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  margin-left: 10px;
  

}

#logoutBtn {
  border:none;
  cursor: pointer;
  outline:0;
  /* margin-left: 10px; */
}

.logoutContainer {
  display: inline-block;
  /* margin-left: 10px; */
}

.nav-logo {
  height: 50px;
  width: 50px;
  margin: 32px 9px 16px 9px;
}

.icon-btn { 
  margin-left: 15px; 
  display: inline
}