/* .nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;

  
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
/* border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}  */

/* .arrowContainer {
  text-align: right;
}

.arrow {
  font-size: 40px;
}
.arrow :hover{
  color: orange;
} */

.nav {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #003b55;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: 0.75em;
  background-color: #eee;
  box-shadow: inset -12px 1px 4px -10px rgba(29, 86, 110, 0.27);
  overflow: hidden;
  -webkit-transition: width 0.1s;
  transition: width 0.3s;
  width: 190px;
  position: fixed;
  z-index: 1;
}

.arrow {
  float: right;
  font-size: 20px;
}

.navOpen {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #003b55;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: 0.75em;
  background-color: #eee;
  box-shadow: inset -12px 1px 4px -10px rgba(29, 86, 110, 0.27);
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.1s;
  width: 40px;
  position: fixed;
  z-index: 1;
}

.navOpen .icon-btn {
  position: absolute;

  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.navOpen .nav-logo {
  margin-left: 0px;
}

.navOpen #logoutBtn {
  font-size: 21px;
  overflow: hidden;
}

.nav-link {
  color: #003b55;
  -webkit-text-decoration: none;
  text-decoration: none;
  height: 33px;
  display: inline-block;
  padding: 2px 0;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  margin-left: 10px;
}

#logoutBtn {
  border: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.96em;
  font-weight: 500;
  /* padding-left: 10px; */
}

.logoutIcon {
  padding-right: 13px;
}

.nav-logo {
  height: 50px;
  width: 50px;
  margin: 32px 9px 16px 9px;
}

.icon-btn {
  margin-left: 15px;
  display: inline;
}
